body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfdede33;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  /* background-color: #282c34; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-container {
  border: 0.5px solid #282c34;
  padding: 0 10px 5px 10px;
  width: 95%;
  margin: 0 auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 20px;
}
thead {
  color: #282c34;
  border-bottom: 0.5px solid #282c34;
}
tr {
  border-bottom: 0.5px solid #282c34;
}
tr:last-child {
  border: none;
}
th, td {
  padding: 10px;
}

th {
  border-right: 1px solid;
}
th:last-child {
  border: none;
}
.flag-icon-rotate {
  transform: rotate(180deg);
}
.align p {
  margin: 0;
}
.darkTxt {
  color:black;
}