h2 {
    text-align: center;
}

.chart-container {
    margin-top: 50px;
    margin-left: 40px;
}

.chart-grid {
    display: grid;
    grid-template-columns: 0.9fr 250px;
    align-items: center;
}

.chart-title {
    margin-bottom: 60px;
}
